<div class="Fondo">
    <div class="titulo" style="display: flex; justify-content: center; color: black;">
        <h1>
            Mi Biografía
        </h1>
    </div>

    <div style=" display: flex; justify-content: center; ">
        <div class=" card " style="width: 35rem; ">
            <img src="https://scontent.fgye1-1.fna.fbcdn.net/v/t1.6435-9/134406410_4147274231972041_1541774191248392290_n.jpg?_nc_cat=104&cb=99be929b-3346023f&ccb=1-7&_nc_sid=174925&_nc_ohc=4e8hcID04zMAX_OzDjq&_nc_ht=scontent.fgye1-1.fna&oh=00_AfAY7MGtO7AeeMUZYbHCv1PBxwhsFGpkTMN8VjpMtHheHg&oe=64A727A3 "
                width="card-img-top " alt="... ">
            <div class="card-body ">
                <p class="card-text ">
                    <h1>
                        Reinaldo Fernández
                    </h1>
                    <h2>
                        Estudiante Universitario - UTMACH
                    </h2>
                    <p>Reinaldo Fernández Estudiante de la Universidad Tecnica de Machala, Nació el 16 de junio del año 2000. Desde Ahíha venido destacandose tanto en el ambito educativo, musical y deportivo. Lider de dos grupos juveniles en la iglesia de
                        la Catedral, desempeñando funciones como coordinador, vicepresiente y catequista.
                    </p>
            </div>
        </div>
    </div>
    <hr class="border border-primary border-3 opacity-100 ">

    <div class="container text-center" style="color: rgb(6, 50, 248);">
        <div class="row align-items-center">
            <div class="col ">
                <h2>Basquet Bolista</h2>
            </div>
            <div class="col ">
                <h2>Pianista</h2>
            </div>
            <div class="col ">
                <h2>Catequista</h2>
            </div>
        </div>
    </div>
</div>